:root {
  --main-background-color: #c3bef0;
}

.container {
  background-color: var(--main-background-color);
}

footer {
  color: var(--main-background-color);
  font-size: 16px;
  margin: 25px 0;
}

footer a {
  color: var(--main-background-color);
}
