:root {
  --main-color: #927fbf;
}

section {
  background-color: white;
  color: var(--main-color);
  max-width: 960px;
  margin: 25px auto;
  padding: 25px 60px;
  border-radius: 8px;
}

.Response h2 {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 0;
}

.Response h3 {
  font-size: 23px;
  line-height: 1.5;
}
